doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='')
    meta(name='description' content='')
    title Câu hỏi
    link(rel='stylesheet' href='/public/source/css/Nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/DanhSachBaiTap.css' media='screen')
    script.u-script(type='text/javascript' src='jquery.js' "='' defer='')
    script.u-script(type='text/javascript' src='nicepage.js' "='' defer='')
    meta(name='generator' content='Nicepage 4.16.0, nicepage.com')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')

    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Câu hỏi')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    include ../template/header.pug
                      
    section#sec-6943.u-align-center.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        if status == 200
          h3.u-text.u-text-default.u-text-1 Bài tập
          .u-expanded-width.u-table.u-table-responsive.u-table-1
            table.u-table-entity.u-table-entity-1
              colgroup
                col(width='10%')
                col(width='40%')
                col(width='25%')
                col(width='25%')
              thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-1
                tr(style='height: 29px;')
                  th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-1 ID Bài tập
                  th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-3 Tên
                  th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-4 Thời gian bắt đầu
                  th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-5 Thời gian kết thúc
              tbody.u-table-body
                  - const options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', timeZone: "Asia/Jakarta"};

                  each question in questionList
                      tr(style='height: 75px;')
                          td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-7 #{question.MaBT}
                          td.u-border-1.u-border-grey-30.u-table-cell 
                              a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-1(href='/user/BaiTap/'+question.MaBT+'/1') #{question.TieuDe}
                          td.u-border-1.u-border-grey-30.u-table-cell #{question.TgianBD.toLocaleString('vi-VN',  options)}
                          td.u-border-1.u-border-grey-30.u-table-cell #{question.TgianKT.toLocaleString('vi-VN',  options)}
        else
          h3.u-text.u-text-default.u-text-1 Bạn hiện chưa có bài tập nào
script(src="/public/source/js/script.js") 
