doctype html
html(style='font-size: 16px;' lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='')
    meta(name='description' content='')
    title Câu hỏi
    link(rel='stylesheet' href='/public/source/css/Nicepage.css' media='screen')
    link(rel='stylesheet' href='/public/source/css/DanhSachBaiTap.css' media='screen')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')

    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Câu hỏi')
    meta(property='og:type' content='website')
  body.u-body.u-xl-mode(data-lang='en')
    include ../template/header.pug

    section#sec-6943.u-align-center.u-clearfix.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        h3.u-text.u-text-default.u-text-1 Bài tập luyện tập thêm
        .u-expanded-width.u-table.u-table-responsive.u-table-1
          table.u-table-entity.u-table-entity-1
            colgroup
              col(width='9.7%')
              col(width='14.2%')
              col(width='55.8%')
              col(width='20.3%')
            thead.u-align-center.u-custom-color-1.u-table-header.u-table-header-1
              tr(style='height: 29px;')
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-1 ID Câu hỏi
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-2 Độ khó
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-3 Tên
                th.u-border-3.u-border-custom-color-1.u-table-cell.u-table-cell-6 Đã hoàn thành
            tbody.u-table-body
              if questionList.length
                each question in questionList
                    tr(style='height: 75px;')
                        td.u-border-1.u-border-grey-30.u-first-column.u-grey-5.u-table-cell.u-table-cell-7 #{question.MaCH}
                        td.u-border-1.u-border-grey-30.u-table-cell #{question.MucDo}
                        td.u-border-1.u-border-grey-30.u-table-cell 
                            a.u-active-none.u-border-none.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-palette-1-base.u-btn-1(href='/user/TestSQL/'+question.MaCH) #{question.TieuDe}
                        //Kiem tra da hoan thanh
                        if question.KetQua
                          td.u-border-1.u-border-grey-30.u-table-cell True 
                        else 
                          td.u-border-1.u-border-grey-30.u-table-cell False

script(src="/public/source/js/script.js") 
