.u-section-1 .u-sheet-1 {
    min-height: 464px;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    align-self: flex-end;
    margin: 0 0 0 auto;
  }
  
  .u-section-1 .u-table-1 {
    margin-top: 5px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-block-0d2b-4 {
    font-weight: 700;
    background-image: none;
  }