.u-section-1 .u-sheet-1 {
    min-height: 387px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 0 auto;
  }
  
  .u-section-1 .u-tabs-1 {
    min-height: 304px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-tab-link-1 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 600;
    padding: 10px 25px;
  }
  
  .u-section-1 .u-tab-pane-1 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 18px 0;
  }
  
  .u-section-1 .u-table-1 {
    width: 1120px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-1 .u-table-cell-5 {
    background-image: none;
  }
  
  .u-block-edbf-86 {
    background-image: none;
  }
  
  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    margin: 30px auto 0 10px;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none;
    background-image: none;
    margin: -45px auto 0 237px;
    padding: 9px 36px 9px 35px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-table-1 {
      width: 940px;
    }
  
    .u-section-1 .u-btn-1 {
      text-transform: none;
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 37px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-table-1 {
      width: 720px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      margin-top: 60px;
    }
  
    .u-section-1 .u-table-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-table-1 {
      width: 340px;
    }
  }