.u-section-1 .u-sheet-1 {
  min-height: 387px;
}

.u-section-1 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 304px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 37px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-3 {
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-table-1 {
  width: 1120px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-block-edbf-86 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 0 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: -45px auto 0 237px;
  padding: 9px 36px 9px 35px;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-2 {
  width: 1120px;
  margin: 32px auto 0;
}

.u-block-edbf-128 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 407px;
  width: 1080px;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
    text-transform: none;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 37px;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
  }

  .u-section-1 .u-form-1 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}