.u-section-1 .u-sheet-1 {
    min-height: 572px;
  }
  
  .u-section-1 .u-tabs-1 {
    min-height: 375px;
    height: auto;
    margin-top: 88px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-tab-link-1 {
    background-image: none;
  }
  
  .u-section-1 .u-tab-link-2 {
    background-image: none;
  }
  
  .u-section-1 .u-tab-item-3 {
    margin-bottom: 0;
  }
  
  .u-section-1 .u-tab-link-3 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-form-1 {
    height: 407px;
    width: 1080px;
    margin: 0;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-form-2 {
    height: 407px;
    width: 1080px;
    margin: 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-form-3 {
    height: 407px;
    width: 1080px;
    margin: 0;
  }
  
  .u-section-1 .u-btn-3 {
    background-image: none;
  }
  
  .u-section-1 .u-btn-4 {
    background-image: none;
    margin: -56px auto 11px 155px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-form-1 {
      width: 880px;
    }
  
    .u-section-1 .u-form-2 {
      width: 880px;
    }
  
    .u-section-1 .u-form-3 {
      width: 880px;
    }
  
    .u-section-1 .u-btn-4 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-form-1 {
      width: 660px;
    }
  
    .u-section-1 .u-form-2 {
      width: 660px;
    }
  
    .u-section-1 .u-form-3 {
      width: 660px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-form-1 {
      width: 520px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-form-2 {
      width: 520px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-form-3 {
      width: 520px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-form-1 {
      width: 320px;
    }
  
    .u-section-1 .u-form-2 {
      width: 320px;
    }
  
    .u-section-1 .u-form-3 {
      width: 320px;
    }
  }