.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1214px;
  }
  
  .u-section-1 .u-tabs-1 {
    min-height: 254px;
    width: 1118px;
    margin: 23px auto 60px 0;
  }
  
  .u-section-1 .u-tab-item-1 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .u-section-1 .u-tab-link-1 {
    font-size: 1.25rem;
    background-image: none;
    font-weight: 600;
    padding: 10px 25px;
  }
  
  .u-section-1 .u-tab-pane-1 {
    background-image: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: -22px;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 1002px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-form-1 {
    height: 392px;
    width: 499px;
    margin: 0;
  }
  
  .u-section-1 .u-label-1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-input-1 {
    height: 47px;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-input-2 {
    height: 47px;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .u-section-1 .u-label-3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .u-section-1 .u-label-4 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-input-4 {
    height: 47px;
  }
  
  .u-section-1 .u-btn-1 {
    font-weight: 700;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 1002px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto 0 9px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 9px auto 0 9px;
  }
  
  .u-section-1 .u-form-2 {
    height: 599px;
    width: 524px;
    margin: 4px 36px 0 0;
  }
  
  .u-section-1 .u-form-group-6 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-5 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .u-section-1 .u-label-6 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: -55px auto 0 150px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-tabs-1 {
      width: 940px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-bottom: 25px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 826px;
    }
  
    .u-section-1 .u-form-1 {
      width: 410px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 1011px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-left: -19px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-left: -19px;
    }
  
    .u-section-1 .u-form-2 {
      height: 656px;
      margin-right: 30px;
      margin-left: -30px;
      width: 470px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-top: -6px;
      margin-left: -20px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-tabs-1 {
      min-height: 1081px;
      height: auto;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-form-1 {
      width: 300px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 1002px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 9px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 13px;
      margin-left: 9px;
    }
  
    .u-section-1 .u-form-2 {
      width: 332px;
      margin-top: 0;
      margin-right: 28px;
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-3 {
      margin-left: 9px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-form-1 {
      width: 520px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 770px;
    }
  
    .u-section-1 .u-form-2 {
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-container-layout-2 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-1 .u-form-1 {
      width: 320px;
      margin-top: -8px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-btn-3 {
      margin-left: 0;
    }
  }